@font-face {
    font-family: 'SpotifyMixUI';
    src: url('path/to/SpotifyMixUI.woff2') format('woff2'),
        url('path/to/SpotifyMixUI.woff') format('woff'),
        url('path/to/SpotifyMixUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
}

.container {
    display: flex;
    gap: 8px;
}

.left {
    display: flex;
    gap: 8px;
    width: 21vw;
    flex-direction: column;
}

.left-first {
    display: flex;
    background-color: #121212;
    border-radius: 7px;
    width: 21vw;
    flex-direction: column;
    gap: 10px;
}

.left-first :first-child {
    margin: 10px 0px 7px 12px;
    width: 88px;
    cursor: pointer;
}

.left-first :nth-child(2) {
    margin: -17px 0px 2px 12px;
    color: white;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 35px;
    cursor: pointer;
}

.left-first :nth-child(3) {
    margin: -10px 0px 14px 12px;
    color: white;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    width: 35px;
}

.left-second {
    display: flex;
    background-color: #121212;
    border-radius: 7px;
    width: 21vw;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8px;
}

.left-second-first {
    display: flex;
    color: #c1c1c1;
    font-size: 16px;
    font-weight: 700;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    align-content: center;
    justify-content: space-around;
    margin: 15px 14px 18px -6px;
}

.library-image {
    margin-right: 65px;
}

.left-second-card {
    display: flex;
    flex-direction: column;
    color: white;
    height: 215px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

html {
    scrollbar-color: hsla(0, 0%, 100%, .3) transparent;
    scrollbar-width: auto;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .3);
}

.left-second-card-one {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f1f1f;
    gap: 10px;
    margin: 10px 8px 10px 8px;
    padding: 20px 0 20px 20px;
    border-radius: 7px;
}

.left-second-card-one :first-child {
    font-size: 16px;
    font-weight: 700;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}

.left-second-card-one :nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    margin-bottom: 10px;
}

.left-second-card-one :nth-child(3) {
    font-size: 14px;
    font-weight: 700;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    width: 125px;
    height: 35px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    border: none;
}

.left-second-card-second :nth-child(3) {
    font-size: 14px;
    font-weight: 700;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    width: 150px;
    height: 35px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    border: none;
}

.left-footer {
    text-decoration: none;
    color: white;
    padding-bottom: 30px;
    padding-top: 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 48px 116px 100px;
    row-gap: 15px;
    margin-top: 10px;
    margin-left: 25px;
}

.footer-grid div {
    color: rgb(179, 179, 179);
    font-weight: 400;
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;
}

.language {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    color: white;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    background-color: #121212;
    border-radius: 16px;
    padding: 7px 12px 7px 12px;
    border: .2px solid white;
    justify-content: center;
    margin-top: 20px;
    gap: 4px;
    margin-left: 26px;
    margin-top: 34px;
    cursor: pointer;
}

.footer {
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    height: 65px;
    border-radius: 1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px 0 5px 15px;
    justify-content: center;
    align-items: left;
}

.footer-text :first-child{
    font-size: 14px;
    font-weight: 700;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    color: white;
}
.footer-text :nth-child(2){
    font-size: 16px;
    font-weight: 400;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    color: white;
}

.footer-btn{
    font-size: 16px;
    font-weight: 700;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    color: rgb(0, 0, 0);
    background-color:  white;
    border-radius: 30px;
    border: none;
    margin: 9px 20px 5px 20px;
    padding: 10px 30px ;
}

.right {
    background-color: #121212;
    width: 79vw;
    border-radius: 7px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.right-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #101010;
    border-radius: 7px;
}

.arrows{
    margin-left: 20px ;
    margin-bottom: -10px;
}

.arrows img{
    padding: 7px;
    margin: 20px 3px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
}

.right-header-sl{
    display: flex;
    flex-direction: row;
}

.right-header-signup{
    font-weight: 700;
    font-size: 16px;
    color: rgb(179,179,179);
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    margin: 20px 20px;
    cursor: pointer;
}

.right-header-login{
    font-weight: 700;
    font-size: 16px;
    color: rgb(0,0,0);
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    margin: 10px 10px;
    padding: 10px 30px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
}

.right-header-sl{
    margin-right: 20px;
}

.right-body-card-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 20px 0 20px;
}

.right-body-card-text :first-child{
    font-weight: 700;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}

.right-body-card-text :nth-child(2){
    font-weight: 700;
    font-size: 14px;
    color: rgb(179, 179, 179);
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}

.right-body-card-sub2{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 25px 0px 0 25px;
}

.right-body-card-sub2 img{
    border-radius: 200px;
}

.right-body-card-sub2 :nth-child(2){
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}

.right-body-card-sub2 :nth-child(3){
    font-weight: 400;
    font-size: 14px;
    color:#b3b3b3;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}

.right-body-card-sub{
    display: flex;
    flex-direction: row;
}